.contenedorBotonesBuscarPatente{
    text-align: center;
    padding: 10px 0px;
}
#lado-izquierdo{
    background-color: lightblue;
    border-right: solid 1px #212529;
    flex: 3;
}
#lado-derecho{
    flex: 2;
}
#vista1 div.contenedor{
    display: flex;
    height: 72.5vh;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
color: pink;
}
input::-moz-placeholder { /* Firefox 19+ */
    font-style: italic !important;
    color: gray;
}
input:-ms-input-placeholder { /* IE 10+ */
    color: pink;
}
input:-moz-placeholder { /* Firefox 18- */
    color: pink;
}


#cabecera{
    background-color: #212529;
    text-align: center;
    color: white;
    padding: 10px;
}